<div class="container">
  <div class="row justify-content-center">
    <form action="/url" class="col-8 mt-3">
      <h1>Success!Please use this link:</h1>
      <a href={{ link }} style="display: block;">{{ url }}</a>
      <button type="button" class="btn btn-primary mt-3">Copy</button>
    </form>
  </div>
</div>